main {
  min-height: 100%;
  display: flex;
  background-color: #222;
  color: whitesmoke;
}

.ro-output {
  box-sizing: border-box;
  flex: 1 1 initial;
  background-color: #333;
  padding-left: 1em;
  padding-right: 1em;
}
.band-list {
  box-sizing: border-box;
  flex: 1 1 20%;
  padding-left: 1em;
  padding-right: 1em;;
}
.handler {
  width: 20px;
  padding: 0;
  cursor: ew-resize;
  flex: 0 0 auto;
}
.handler::before {
  content: '';
  width: 1em;
  height: 100%;
  margin: 0 auto; 
}
