body {
  display: flex;
  flex-flow: column;
}

.menu {
  flex: 0 0 auto;
}

main {
  background-color: #222;
  color: whitesmoke;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
}

.ro-output {
  background-color: #333;
  float: left;
  /*height: 100%;*/
}

.band-list {
  float: left;
  position: relative;
  display: flex;
  /*height: 100%;*/
}

.band-list-content-container {
  display: flex;
  flex-flow: column;
}

.band-list-content {
  float: left;
  position: relative;
  flex: 1 1 auto;
  /*height: 100%;*/
}

.handler {
  width: 20px;
  padding: 0;
  cursor: ew-resize;
  float: right;
  height: inherit;
  flex: 1 1 auto;
}
